/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 105px;
    align-items: center;
    padding: 93.16px 50px 95.19px;
    font-weight: normal;
    font-size: 18px;
}

.cover {
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 757px;
    position: relative;
    z-index: -1;
}

.lots {
    margin: 180px 24px 120px;
}

.about {
    margin: 0 24px 180px;
}

.footer {
    padding: 0 50px 82px;
    display: grid;
    grid-template-columns: 1fr 164px 1fr;
    align-items: start;
    font-weight: normal;
    font-size: 18px;
}

.header__logo {
    display: block;
    grid-column: 2 / 3;
    justify-items: center;
    align-items: stretch;
    max-width: 148px;
    max-height: 105px;
}

.header__logo-image {
    min-width: 135px;
}

.header__menu {
    grid-column: 1 / 2;

}

.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 12px;
}

.header__links-list-item {
    list-style: circle;
    list-style-position: inside;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    line-height: 21px;
    margin-left: -3px;
}

.header__link_active {
    text-decoration: none;
    margin-left: 0;
}

.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 24px;
}

.address__link {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header__address {
    max-width: 240px;
    grid-column: 3 / 4;
    justify-self: end;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / .6);
    z-index: 0;
}

.cover__title {
    min-height: 385px;
    min-width: 1000px;
    line-height: 115px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
    position: relative;
    z-index: 1;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    margin-bottom: 20px;
    margin-right: -30px;
}

.aligned-text_right {
    text-align: right;
    margin-right: -30px;
}

.cover__description {
    margin-top: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.cover__description-text {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 20px;
}

.cover__description-text_word-spacing {
    word-spacing: 18px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 12px 32px 11px 31px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase;
}

.lots__heading {
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    list-style: none;
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
    padding: 48px 40px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    position: relative;
    z-index: 1;
}

.card__text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    line-height: 120%;
    position: relative;
    z-index: 1;
}

.lots__look-more-link {
    display: block;
    line-height: 23px;
    text-transform: lowercase;
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    margin-left: 40px;
    margin-top: 30px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px auto;
    column-gap: 25px;
}

.about__logo {
    margin-top: 35px;
    grid-column: 1 / 2;
    justify-self: center;
    position: relative;
    z-index: 0;
}

.about__logo-background {
    background-color: #000000;
    border-radius: 50%;
    overflow: hidden;
    width: 240px;
    height: 240px;
}

.about__logo-image {
    position: absolute;
    inset: 64px 45.5px 62px 46.5px;
    width: 148px;
    z-index: 1;
}

.about__title {
    grid-column: 2 / 3;
    justify-self: start;
    margin-top: 136px;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.about__text {
    grid-column: 2 / 3;
    justify-self: start;
    min-width: 693px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.footer__address {
    max-width: 265px;
    grid-column: 1 / 2;
    justify-self: start;
}

.footer__menu {
    grid-column: 2 / 3;

}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    line-height: 21px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    max-width: 240px;
    grid-column: 3 / 4;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
}